<!DOCTYPE html>
<html>
<script src="angular.min.js">
</script>
<body>
<div ng-app="profile" ng-controller="control">
fname=<input type="text" ng-model="fname"><br>
lname:<input type="text" ng-model="lname"><br>
full name:{{fname + " " + lname}}
{{add()}
}
</div>
<script>
var app=angular.module('profile',[]);
app.controller('control',funct
ion($scope)
{
    $scope.fname="ss";
    $scope.lname="sxc";
    $scope.add=function(){
        fname
        lname
        age
    }
})</script>
</body>
</html>